{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "globals": {
    "dat": true,
    "Stats": true,
    "OrbitControls": true,
    "StereoEffect": true,
    "CardboardEffect": true,
    "DeviceOrientationControls": true,
    "CannonDebugRenderer": true
  },
  "settings": {
    "import/ignore": ["node_modules"],
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      },
      "node": {
        "moduleDirectory": [
          "node_modules",
          "app/scripts",
          "app/styles",
          "app/fonts",
          "app/images"
        ]
      }
    }
  }
}
